.title-avis{
    text-align: center;
    text-transform: uppercase;
}

.container{

    font-size: 1.6rem;
    .container-avis{
        width: 70%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        

        .avis{
            
            margin: 0.7rem;
            width: 100%;

            span{
                font-weight: bold;
                text-transform: uppercase;
            }
        }


    }

    .thanks{
        margin-top: 3rem;
    }   
}