$breakpoint-phone: 600px;


header{
    width: 100%;
    background-color: #3D3D33;
    height: 10rem;

    img{
        display: block;
        width: 20%;
        margin: auto auto;
        @media (max-width: $breakpoint-phone) {
                width: 65%;
        }
    }
}